@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">on piece</h5>
                        <img src="https://www.on-manga.me/uploads/manga/edens-zero/cover/cover_250x350.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
