<ion-card no-padding>
  <div class="mangaHeader">
    {{item.item.name}}<span style="float: left;" class="amiri" item-end>
      <ion-icon name="stats"></ion-icon> {{item.item.state}} 
    </span>
  </div>
  <ion-row>
    <ion-col col-7>
      <ion-row>
        <ion-col>
          <p style="font-size: 12px;" class="amiri">
            <span class="label-description">{{ressources.name}}</span> {{item.item.name}}
            <button style="float: left; height: 19px; font-size: 18px;padding: 1px;" no-padding
              (click)="handleClickFavorie()" color="primary" ion-button clear>
              <ion-icon name="{{(item.isFavorite)?'heart':'heart-outline'}}"></ion-icon>
            </button><br />
            <span class="label-description">{{ressources.state}}</span> {{item.item.state}}<br />
            <span class="label-description">{{ressources.dateEdition}}</span> {{item.item.date}}<br />
            <span class="label-description">{{ressources.chapter}}</span> {{item.item.countChapters}}<br />
            <span class="label-description">{{ressources.tags}}</span><br />
            <ion-badge style="margin: 1px;" color="secondary" *ngFor="let tag of item.item.tags.split(',')" ><span style="font-size: 9px;" >{{tag}}</span></ion-badge>
          </p>
          <!-- <button (click)="handleClickRead(item)" color="secondary" ion-button round small>
            <ion-icon name="book"></ion-icon>
          </button> -->
          <!-- <button color="primary" ion-button small  ><ion-icon name="download" ></ion-icon ></button> -->
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-5>
      <img src="{{item.item.cover}}" />
    </ion-col>
  </ion-row>
  <ion-row>
      <p style="font-size: 12px; margin: 4px;" class="amiri">
          <span class="label-description">{{ressources.resume}}</span><br />
          {{item.item.resume}}
        </p>
  </ion-row>
</ion-card>
