<div class="flex-container">
    <div>
        <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>{{manga.name}}</mat-card-title>
                    <mat-card-subtitle style="font-family: 'Amiri', serif;">{{manga.state}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img  src="{{manga.cover}}" alt="Photo of a Shiba Inu">  
                    <p class="description">
                        <span class="label" >سنة الإصدار : </span>{{manga.date}} 
                    </p>
                    <p class="description">
                        <span class="label" >عدد الفصول : </span>{{manga.countChapters}} 
                    </p>
                    <p class="description">
                        <span class="label" >التصنيفات : </span>{{manga.tags}} 
                    </p>
                    <p class="description">
                        <span class="label" >نبذة عن القصة : </span>{{manga.resume}} 
                    </p>
                </mat-card-content>
        </mat-card>
    </div>
    <div >
        <mat-card class="chapter-card">
            <mat-card-header>
                <mat-card-title class="label">الفصول</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list style="width: 100%;">
                    <mat-list-item (click)="handleChapterClick(chapter.id)" class="description" style="cursor: pointer;" *ngFor="let chapter of chapters">
                        <mat-icon mat-list-icon>bookmark</mat-icon>
                        <h4 mat-line class="description">{{'الفصل ' +chapter.title}}</h4>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>