.date{
    direction: ltr;
    color: black !important;
    font-style: italic;
    font-size: 12px !important;
    padding-left: 4px;
}
.small-title{
    color: color($colors,dark)!important ;
    font-style: italic;
    font-size: 12px !important;
    font-weight: bold;
    margin-right: 2px;
}