.date{
    direction: ltr;
    color: color($colors,primary) !important;
    font-style: italic;
    font-size: 12px !important;
}
.small-title{
    color: color($colors,primary) ;
    font-style: italic;
    font-size: 12px !important;
}