<ion-header>
  <ion-navbar color="primary">
    <ion-title class="amiri">{{ressources.chapterTitle+chapterVm.chapter.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: black;">
  <div (swipe)="swipeEvent($event)" style="height: 100%;position: relative;">
    <ion-card style="position: absolute;
    top: 50%;
    transform: translateY(-50%);">

      <img [src]="getImgContent(currentPage?.url)" alt="{{currentPage?.number}}" imageViewer>
    </ion-card>
  </div>
  <!-- <ion-list>
    <ion-card *ngFor="let page of pages">
        <img [src]="getImgContent(page.url)" alt="{{page.number}}" imageViewer >
    </ion-card>
  </ion-list> -->

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col no-padding align-self-center text-center>
        <button ion-button block clear color="text" (click)="swipeEvent({direction:2})">
          <ion-icon name="skip-backward"></ion-icon>
        </button>
      </ion-col>
      <ion-col no-padding align-self-center text-center>
        <ion-title *ngIf="this.pages && this.currentPage">{{this.currentPage.number+'/'+this.pages?.length}}</ion-title>
      </ion-col>
      <ion-col no-padding align-self-center text-center>
        <button ion-button block clear color="text" (click)="swipeEvent({direction:4})">
          <ion-icon name="skip-forward"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>