<ion-header >
    <ion-navbar color="dark">
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="amiri">{{ressources.mangaList}}</ion-title>    
    </ion-navbar>
</ion-header>
<ion-content no-padding>  
    <a name="top"></a>
    <ion-navbar  color="primary" >
        <ion-searchbar (ionInput)="handleSearchChange($event)" (ionClear)="handleSaerchClear()" class="amiri" left [showCancelButton]="true" placeholder="{{ressources.search}}"></ion-searchbar>
        <ion-buttons end>
            <button right ion-button (click)="handleFiltreClick()"  clear >
                <ion-icon  name="options" ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <div *ngIf="!isLoaded" class="progress">
            <div class="indeterminate"></div>
        </div>
    <ion-card  *ngIf="filtreCardIsVisible">
        <ion-card-content no-padding >
            <ion-badge class="amiri" color="{{t.selected ? 'secondary':'light'}}" (click)="handleSelectTagClick(t)" style="margin: 2px;" *ngFor="let t of tags">{{t.tag}}</ion-badge>    
        </ion-card-content>
    </ion-card>
    <ion-list *ngIf="isLoaded">
        <manga-item (click)="handleClickMangaItem(mangaItem)" *ngFor="let mangaItem of mangaListFiltred" [item]="mangaItem"></manga-item>
    </ion-list>
    <ion-fab   right bottom>
            <a href="#top"><button color="secondary" ion-fab mini  ><ion-icon name="arrow-dropup" ></ion-icon>
       
            </button></a>
        
    </ion-fab>
    
</ion-content>  
