<ion-content>
    <ion-card no-padding>
        <ion-card-header class="amiri" no-padding >
           <ion-item color="light" no-padding>
              {{title}}
           </ion-item>
        </ion-card-header>    
          <ion-card-content no-padding>
              <ion-slides pager no-padding >
                <ion-slide >
                  <ion-row style="margin-bottom: 30px;">
                    <ion-col col-4>
                        <div class="manga-item">
                            <p class="item-title">Fire punch</p>
                            <img src="http://35.211.13.59:80/Manga/Claymore/cover.jpg"/>
                        </div>
                    </ion-col>  
                    <ion-col col-4>
                        <div class="manga-item">
                            <p class="item-title">One One Piece </p>
                            <img src="http://35.211.13.59:80/Manga/One_Piece_Specials/cover.jpg"/>
                        </div>
                    </ion-col> 
                    <ion-col col-4>
                        <div class="manga-item" >
                            <p class="item-title">Tokyo_Ghoul</p>
                            <img src="http://35.211.13.59:80/Manga/Tokyo_Ghoul/cover.jpg"/>
                        </div>
                    </ion-col> 
                  </ion-row>
                </ion-slide>                 
                <ion-slide >
                    <ion-row style="margin-bottom: 30px;">
                      <ion-col col-4>
                          <div class="manga-item">
                              <p class="item-title">Fire punch</p>
                              <img src="http://35.211.13.59:80/Manga/Claymore/cover.jpg"/>
                          </div>
                      </ion-col>  
                      <ion-col col-4>
                          <div class="manga-item">
                              <p class="item-title">One One Piece </p>
                              <img src="http://35.211.13.59:80/Manga/One_Piece_Specials/cover.jpg"/>
                          </div>
                      </ion-col> 
                      <ion-col col-4>
                          <div class="manga-item" >
                              <p class="item-title">Tokyo_Ghoul</p>
                              <img src="http://35.211.13.59:80/Manga/Tokyo_Ghoul/cover.jpg"/>
                          </div>
                      </ion-col> 
                    </ion-row>
                  </ion-slide> 
                  <ion-slide >
                      <ion-row style="margin-bottom: 30px;">
                        <ion-col col-4>
                            <div class="manga-item">
                                <p class="item-title">Fire punch</p>
                                <img src="http://35.211.13.59:80/Manga/Claymore/cover.jpg"/>
                            </div>
                        </ion-col>  
                        <ion-col col-4>
                            <div class="manga-item">
                                <p class="item-title">One One Piece </p>
                                <img src="http://35.211.13.59:80/Manga/One_Piece_Specials/cover.jpg"/>
                            </div>
                        </ion-col> 
                        <ion-col col-4>
                            <div class="manga-item" >
                                <p class="item-title">Tokyo_Ghoul</p>
                                <img src="http://35.211.13.59:80/Manga/Tokyo_Ghoul/cover.jpg"/>
                            </div>
                        </ion-col> 
                      </ion-row>
                    </ion-slide> 
                    <ion-slide >
                        <ion-row style="margin-bottom: 30px;">
                          <ion-col col-4>
                              <div class="manga-item">
                                  <p class="item-title">Fire punch</p>
                                  <img src="http://35.211.13.59:80/Manga/Claymore/cover.jpg"/>
                              </div>
                          </ion-col>  
                          <ion-col col-4>
                              <div class="manga-item">
                                  <p class="item-title">One One Piece </p>
                                  <img src="http://35.211.13.59:80/Manga/One_Piece_Specials/cover.jpg"/>
                              </div>
                          </ion-col> 
                          <ion-col col-4>
                              <div class="manga-item" >
                                  <p class="item-title">Tokyo_Ghoul</p>
                                  <img src="http://35.211.13.59:80/Manga/Tokyo_Ghoul/cover.jpg"/>
                              </div>
                          </ion-col> 
                        </ion-row>
                      </ion-slide> 
                      <ion-slide >
                          <ion-row style="margin-bottom: 30px;">
                            <ion-col col-4>
                                <div class="manga-item">
                                    <p class="item-title">Fire punch</p>
                                    <img src="http://35.211.13.59:80/Manga/Claymore/cover.jpg"/>
                                </div>
                            </ion-col>  
                            <ion-col col-4>
                                <div class="manga-item">
                                    <p class="item-title">One One Piece </p>
                                    <img src="http://35.211.13.59:80/Manga/One_Piece_Specials/cover.jpg"/>
                                </div>
                            </ion-col> 
                            <ion-col col-4>
                                <div class="manga-item" >
                                    <p class="item-title">Tokyo_Ghoul</p>
                                    <img src="http://35.211.13.59:80/Manga/Tokyo_Ghoul/cover.jpg"/>
                                </div>
                            </ion-col> 
                          </ion-row>
                        </ion-slide> 
              </ion-slides>
          </ion-card-content> 
    </ion-card>
    
    
    
</ion-content>