<ion-card no-padding>
  <ion-card-header *ngIf="hasTitle" class="amiri" no-padding>
    <div class="mangaHeader">
      {{title}}<span style="float: left;" class="amiri" item-end>
        <ion-icon name="{{icon}}"></ion-icon>
      </span>
    </div>
  </ion-card-header>
  <ion-card-content no-padding>
    <ion-slides pager no-padding>
      <ion-slide *ngFor="let slide of viewItems">
        <ion-row style="margin-bottom: 30px; ">
          <ion-col col-4 *ngFor="let item of slide.items">
            <div class="manga-item"   (click)="handleClickRead(item)">
              <p class="item-title">{{item.name.length >=18?item.name.slice(0,18)+'...':item.name}}</p>
              <img src="{{item.cover}}" />
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>