.manga-chapter{
    font-family: 'Tajawal', sans-serif;
    direction: rtl ;
    font-size: 13px;
    background-color: white;
    //font-weight: bold;
    padding: 8px;
    color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(209, 207, 207);; 
}

.manga-chapter-read{
    font-family: 'Tajawal', sans-serif;
    direction: rtl ;
    font-size: 13px;
    background-color: white;
    //font-weight: bold;
    padding: 8px;
    color: gray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(209, 207, 207);; 
}