<!-- Generated template for the MangaDetailsComponent component -->
<div>
    <ion-list>
        <img src="{{item.cover}}" alt="">
        <h3><span class="label-description" >{{ressources.name}}</span> <span style="font-size: 16px;font-weight: bold;"> {{item.name}}</span></h3>
        <h3><span class="label-description" >{{ressources.dateEdition}}</span>  {{item.date}}</h3>
        <h3 ><span class="label-description">{{ressources.chapter}}</span>  {{item.chapterCount}}</h3>
        <h3 ><span class="label-description">{{ressources.state}}</span>  {{item.state}}</h3>
        <h3 ><span class="label-description">{{ressources.tags}}</span>  {{item.tags}}</h3>
        <h3 ><span class="label-description">{{ressources.resume}}</span></h3>
        <h3 >{{item.resume}}</h3>
    </ion-list>
</div>
